/* --------- */
/* --------- */
/* Default styles */
/* --------- */
/* --------- */

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-grey);
  font-size: var(--default-size);
  color: var(--default-color_grey);
}

/* -------- */
/* -------- */
/* General variables */
/* -------- */
/* -------- */


:root{
  --default-size: 12px;
  --default-color_grey: #5C5C5C;;
  --bg-grey: #FAFAFA;
  --bg-white: white;
  --border-orange: #E14165;
  --border-blue: #8686FF;
  --border-light_blue: #C2C2FF;
  --green: #2EE5AC;
  --orange: #FF8346;
  --red: #FE4848;
}


